# Node modules
node_modules/

# Compiled TypeScript output
dist/*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment variables
.env.local
.env.*.local

# OS specific
.DS_Store
Thumbs.db

# IDE / Editor settings
.vscode/
.idea/

# Database configuration

public/user/assets/images/trading_cards_img/
public/user/assets/images/profile_images/