image: node:18   # Node.js official image use kar rahe hain

definitions:
  steps:
    - step: &build-and-deploy
        name: Build and Deploy App
        caches:
          - node
        script:
          # 1. Dependencies install karo
          - npm install

          # 2. Agar .env load karna hai to ek Node.js script bana lo
          - node load_env.js .env .env.example

          # 3. Build your app (agar build script hai to)
          - npm run build

          # 4. SSH se remote server par deploy command run karo
          - pipe: atlassian/ssh-run:0.6.1
            variables:
              SSH_USER: $K8S_LOGIN_USER
              SERVER: $K8S_IP_SERVER
              PORT: $K8S_PORT_SERVER
              MODE: 'command'
              COMMAND: '$K8S_OPEN_DIR_COMMAND $K8S_DEPLOYMENT_NAME $K8S_APP_NAME=$BITBUCKET_BUILD_NUMBER --record --namespace=$K8S_NAMESPACE'

pipelines:
  branches:
    prod:
      - step:
          deployment: prod
          trigger: automatic
          <<: *build-and-deploy
    dev:
      - step:
          deployment: dev
          trigger: automatic
          <<: *build-and-deploy
